[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"boto3" = "*"
pandas = "*"
sox = "*"
"progressbar2" = "*"

[dev-packages]
pandas = "*"

[requires]
python_version = "3.6"
